<form method="POST" name="cadastroGrade">
	{% if grade.id %}
		<input type="hidden" name="id" value="{{grade.id}}">
		<h3 class="text-center">Edição</h3>
	{% else %}
		<h3 class="text-center">Criação</h3>
	{% endif %}

	<div class="mb-3">
		<label for="nome_grade" class="form-label">Nome da Grade</label>
		<input autocomplete="off" placeholder="O nome que deseja dar para sua grade. Exemplo: WSOP GG Online" type="text" class="form-control" maxlength="50" id="nome_grade" name="nome_grade" value="{{grade.nome_grade}}" required>
		<div class="form-text">
			<span class="char-count">&nbsp;</span>
		</div>
	</div>
	<div class="mb-3">
		<label for="descricao_grade" class="form-label">Descrição da Grade (Limite de 100 caracteres)</label>
		<textarea placeholder="Uma breve descrição da sua grade, com palavras chaves." class="form-control no-resize" id="descricao_grade" name="descricao_grade" rows="4" maxlength="100" required>
			{{grade.descricao_grade}}
		</textarea>
		<div class="form-text">
			<span class="char-count">&nbsp;</span>
		</div>
	</div>
	<div class="d-flex flex-row justify-content-end">
		<button type="submit" class="btn btn-primary">
			<i class="bi bi-floppy"></i>
			Salvar
		</button>
	</div>
</form>
