{% extends 'templateBase.twig' %}
{% block content %}
	<div class="pagetitle">
		{% set buyInList = [] %}
		{% set openedSession = session('openedSession')%}
		{% if (openedSession) %}
			{% set buyInList = openedSession['buyInList'] %}
		{% endif %}
		<h1>Registro de buy in</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Cadastro</a>
				</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->
	<section class="section dashboard">
		<div class="d-flex flex-row justify-content-center">
			<div class='col-lg-10'>
				{% include 'Session/BuyIns/form-cadastro.twig' %}
			</div>
		</div>
	</section>
{% endblock %}
{% block scriptsFooter %}
	{{parent()}}
	<script src="\assets\scripts\cadastro-buyin.js"></script>
{% endblock %}
