<div class="d-flex flex-column">
  {% for bi in myBuyIns %}
    <div class="d-flex flex-row">
      <span>{{ bi.gameName }}</span>
      <span>{{ bi.pokerSiteName }}</span>
    </div>
  {% endfor %}
</div>
