<section class="section faq">
	<div class="row">
		<div class="col-lg-12">

			<div class="card basic">
				<div class="card-body">
					<h5 class="card-title">Questões básicas</h5>

					<div>
						<h6>1. Por onde eu começo?</h6>
						<p>Pela sessão. Para registrar um jogo, é preciso uma sessão aberta.</p>
					</div>

					<div class="pt-2">
						<h6>2. Uma sessão é igual a um dia?</h6>
						<p>Não necessariamente. Uma sessão pode começar em um dia e terminar em outro, assim como podem haver várias sessões no mesmo dia.</p>
					</div>

					<div class="pt-2">
						<h6>3. Iniciei a sessão em um dia e terminei o torneio no outro. Como o sistema irá calcular?</h6>
						<p>Os cálculos são baseados na data da sessão. Logo, se a sessão começou em 01/01/1900 23:59  e o torneio terminou em 02/01/1900, os cálculos 
							                serão feitos relativos ao dia 01/01/1900.</p>
					</div>

				</div>
			</div>

			<!-- F.A.Q Group 1 -->
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Outras dúvidas</h5>

					<div class="accordion accordion-flush" id="faq-group-1">

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
									Tenho que registrar todos os jogos?
								</button>
							</h2>
							<div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
								<div class="accordion-body">
									Sim, caso queira relatórios com valores corretos. O sistema calcula por jogos.
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
									Posso importar a grade dos outros dias?
								</button>
							</h2>
							<div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
								<div class="accordion-body">
									Sim. Haverá ferramentas para importação da grade para quem é regular.
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
									Posso importar do Shark ou direto dos sites de Poker?
								</button>
							</h2>
							<div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
								<div class="accordion-body">
									Não. As importações de sistemas de terceiros dependem de uso de APIs que não possuo acesso no momento. Futuramente pretendo conversar com as empresas
                  quando esta aplicação crescer.
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- End F.A.Q Group 1 -->

		</div>
	</div>

</div></section>
