<div class="d-flex h-100 align-items-center">

	<div class="alert alert-warning ">
		<span>
			Ooooops, mas que bad beat!!!! Esta é uma funcionalidade disponível para os subs do canal do Milk. Não perca tempo, seja sub da
			<a href='https://twitch.tv/milkshakson'>
				Twitch do Milkshakson
			</a>
			e aproveite as ferramentas deste aplicativo no plano Twitch Sub.
		</span>
		<br/>
		Caso tenha assinado recentemente, experimente
		<a href="/logout">
			sair
		</a>
		do sistema e entrar novamente, ou aguarde até que a Twitch atualize o seu status como sub.
	</div>
</div>
