{% extends 'templateBase.twig' %}
{% block content %}
	{% set openedSession = session('openedSession') %}
	{% set sumary = session('openedSession')['sumary'] %}
	{% set buyInList = session('openedSession')['buyInList'] %}
	{% set sitesJogados = [] %}
	{% for bi  in buyInList %}
		{% set sitesJogados = sitesJogados|merge([bi['pokerSiteName']]) %}
	{% endfor %}
	{% set sitesJogados = array_unique(sitesJogados) %}
	{% set distinctSites = count(sitesJogados) %}
	{% set textSitesJogados = distinctSites ~ ((distinctSites > 1) ? ' sites' : " site") %}
	{% set sumary = openedSession['sumary'] %}
	{% if (sumary['profit'] > 0) %}
		{% set classTextProfit = 'text-success' %}
	{% elseif (openedSession['sumary']['profit'] == 0) %}
		{% set classTextProfit = 'text-primary' %}
	{% else %}
		{% set classTextProfit = 'text-danger'%}
	{% endif %}

	<div class="pagetitle">
		<h1>Início</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->
	{% set colorsPrejuizo = json_encode(['#AA0000','#FF0000','#BB0000','#8B0000','#FF0000']) %}
	{% set colorsLucro = json_encode(['#2E8B57','#43CD80','#7CCD7C','#9AFF9A','#00FF9A']) %}
	{% set somaBuyIns = [] %}
	{% set somaLucro = [] %}
	{% for bi in buyInList %}
		{% set somaBuyIns = arrayIncrement(somaBuyIns,bi['pokerSiteName'],bi['totalBuyIn']) %}
		{% if bi['isClosed'] %}
			{% set somaLucro = arrayIncrement(somaLucro,bi['pokerSiteName'],bi['profit']) %}
		{% endif %}
	{% endfor %}

	{% set dataDistribuicaoBanca = "[" %}
	{% for site,valor in somaBuyIns %}
		{% set dataDistribuicaoBanca = dataDistribuicaoBanca~"{value:"~valor~", name: '"~site~"', formatedValue:'"~dolarFormat(valor)~"'}," %}
	{% endfor %}
	{% set dataDistribuicaoBanca = dataDistribuicaoBanca~"]" %}


	{% set dataDistribuicaoLucro = "[" %}
	{% set dataDistribuicaoPrejuizo = "[" %}
	{% for site,valor in somaLucro  %}
		{% if valor>0 %}
			{% set dataDistribuicaoLucro = dataDistribuicaoLucro~"{value:"~valor~", name: '"~site~"', formatedValue:'"~dolarFormat(valor)~"'}," %}
		{% endif %}

		{% if valor<0 %}
			{% set dataDistribuicaoPrejuizo = dataDistribuicaoPrejuizo~"{value:"~(valor*-1)~", name: '"~site~"', formatedValue:'"~dolarFormat(valor*-1)~"'}," %}
		{% endif %}
	{% endfor %}
	{% set dataDistribuicaoLucro = dataDistribuicaoLucro~"]" %}
	{% set dataDistribuicaoPrejuizo = dataDistribuicaoPrejuizo~"]" %}
	<section class="section dashboard">
		<div class="row">
			{% include 'Home/tabs-home.twig' %}
		</div>
	</section>
{% endblock %}
{% block scriptsFooter %}
	{{parent()}}
	<script>
		$(document).ready(function () {
var activeTabHome = getCookie('activeTabHome');
var tabsHome = $('#tabsHome');
$(document).on('click', '#tabsHome>li>button', function () {
setCookie('activeTabHome', $(this).attr('id'));
});
$(document).on('click', '#tabsHome>li>button', function () {
var sender = $(this);
let loadedAt = moment(sender.data('loaded-at'));
var target = sender.data('bs-target');
let component = sender.data('component');
if (!(sender.hasClass('loaded') && loadedAt.isValid() && (moment().diff(loadedAt, 'seconds') <= 30))) {
sender.addClass('loaded').data('loaded-at', moment());

$.ajax({
url: '/session/component/' + component,
beforeSend: function () {
waitingDialog.show();
},
success: function (html) {
 $(target).html(html);
},
}).always(function () {
	setTimeout(function(){
		waitingDialog.hide();
	},300);
}).fail(function () {
alert('Erro ao carregar a aba');
});
}
});
if (activeTabHome != 'undefined' && activeTabHome != '') {
tabsHome.find('#' + activeTabHome).trigger('click');
} else {
tabsHome.find('li').eq(0).find('button').trigger('click');
}
});
	</script>
{% endblock %}
