{% extends 'templateBase.twig' %}
{% block css %}
	{{parent()}}
	<link rel="stylesheet" href="\assets\css\home.css">
{% endblock %}
{% block content %}
	<div class="pagetitle">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					In&iacute;cio
				</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->
	{% if(session('isValidTokenAcesso')) %}
		{% include 'Home/logged.twig' %}
	{% else %}
		<div class="row">
			{% include 'Home/not-logged.twig' %}
		</div>
	{% endif %}
{% endblock %}


{% block scriptsFooter %}
	{{parent()}}
	<script>
		$(document).ready(function () {
var activeTabHome = getCookie('activeTabHome');
var tabsHome = $('#tabsHome');
$(document).on('click', '#tabsHome>li>button', function () {
setCookie('activeTabHome', $(this).attr('id'));
});
if (activeTabHome != 'undefined' && activeTabHome != '') {
tabsHome.find('#' + activeTabHome).trigger('click');
} else {
tabsHome.find('li').eq(0).find('button').trigger('click');
}
});
	</script>
{% endblock %}
