{% set openedSession = session('openedSession') %}
{% if openedSession %}
	{% set summary = session('openedSession')['summary'] %}
	{% set sitesJogados = [] %}
	{% for bi  in buyInList %}
		{% set sitesJogados = sitesJogados|merge([bi['pokerSiteName']]) %}
	{% endfor %}
	{% set sitesJogados = array_unique(sitesJogados) %}
	{% set distinctSites = count(sitesJogados) %}
	{% set textSitesJogados = distinctSites ~ ((distinctSites > 1) ? ' sites' : " site") %}
	{% set summary = openedSession['summary'] %}
	{% if (summary['profit'] > 0) %}
		{% set classTextProfit = 'text-success' %}
	{% elseif (openedSession['summary']['profit'] == 0) %}
		{% set classTextProfit = 'text-primary' %}
	{% else %}
		{% set classTextProfit = 'text-danger'%}
	{% endif %}

	{% set colorsPrejuizo = json_encode(['#AA0000','#FF0000','#BB0000','#8B0000','#FF0000']) %}
	{% set colorsLucro = json_encode(['#2E8B57','#43CD80','#7CCD7C','#9AFF9A','#00FF9A']) %}
	{% set somaBuyIns = [] %}
	{% set somaLucro = [] %}
	{% for bi in buyInList %}
		{% set somaBuyIns = arrayIncrement(somaBuyIns,bi['pokerSiteName'],bi['totalBuyIn']) %}
		{% if bi['isClosed'] %}
			{% set somaLucro = arrayIncrement(somaLucro,bi['pokerSiteName'],bi['profit']) %}
		{% endif %}
	{% endfor %}

	{% set dataDistribuicaoBanca = "[" %}
	{% for site,valor in somaBuyIns %}
		{% set dataDistribuicaoBanca = dataDistribuicaoBanca~"{value:"~valor~", name: '"~site~"', formatedValue:'"~dolarFormat(valor)~"'}," %}
	{% endfor %}
	{% set dataDistribuicaoBanca = dataDistribuicaoBanca~"]" %}


	{% set dataDistribuicaoLucro = "[" %}
	{% set dataDistribuicaoPrejuizo = "[" %}
	{% for site,valor in somaLucro  %}
		{% if valor>0 %}
			{% set dataDistribuicaoLucro = dataDistribuicaoLucro~"{value:"~valor~", name: '"~site~"', formatedValue:'"~dolarFormat(valor)~"'}," %}
		{% endif %}

		{% if valor<0 %}
			{% set dataDistribuicaoPrejuizo = dataDistribuicaoPrejuizo~"{value:"~(valor*-1)~", name: '"~site~"', formatedValue:'"~dolarFormat(valor*-1)~"'}," %}
		{% endif %}
	{% endfor %}
	{% set dataDistribuicaoLucro = dataDistribuicaoLucro~"]" %}
	{% set dataDistribuicaoPrejuizo = dataDistribuicaoPrejuizo~"]" %}
	<section class="section dashboard">
		<div class="row">
			{% include 'Home/Includes/cards-summary-home.twig' %}
		</div>
	</section>
{% else %}
	<div class="d-flex flex-column h-100 justify-content-center align-items-center">
		<div class="card">
			<div class="card-header">
				<h2 class='text-center'>N&atilde;o h&aacute; uma sess&atilde;o aberta neste momento</h2>
			</div>
			<div class="card-body">
				<div>
					<a href='/session/current'>Clique aqui</a>
					para iniciar uma.</div>
				<div>
					Ou d&ecirc; uma olhada no seu
					<a href='/dashboard/yearly'>resumo anual</a>
					ou no seu
					<a href='/dashboard/monthly'>resumo mensal.</a>
				</div>
			</div>
		</div>
	</div>
{% endif %}
