{% extends 'templateBase.twig' %}
{% block css %}
	{{parent()}}
	<link href="/assets/css/importa-grade.css?version={{versionScripts}}" rel="stylesheet">
{% endblock %}
{% set openedSession = session('openedSession') %}
{% block content %}
	<div class="pagetitle">
		<h1>Sessão</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Importação de grade</a>
				</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->
	{% if openedSession is not empty %}
		<div class='grid-selecao-importa'>
			<div class='card'>
				<div class='card-header'>
					<a href='/session/importaSessao/last' class='btn'>
						<i class="ri-24-hours-line"></i>
						Importar da última Sessão
					</a>
				</div>
				<div class='card-body'></div>

			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/0' class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Segunda</a>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/1' class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Terça</a>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/2' class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Quarta</a>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/3' class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Quinta</a>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/4' class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Sexta</a>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/5' class='btn'>
						<i class="ri-24-hours-line"></i>Importar do último sábado</a>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<a href='/session/importaSessao/6' class='btn'>
						<i class="ri-24-hours-line"></i>Importar do último domingo</a>
				</div>
				<div class='card-body'></div>
			</div>
		</div>
	{% else %}
		<h2>Sessão não aberta</h2>
	{% endif %}
{% endblock %}
