{% extends 'templateBase.twig' %}
{% block css %}
	{{parent()}}
	<link href="/assets/css/importa-grade.css?version={{versionScripts}}" rel="stylesheet">
{% endblock %}
{% set openedSession = session('openedSession') %}
{% block content %}
	<div class="pagetitle">
		<h1>Sessão</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Importação de grade</a>
				</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->
	{% if openedSession is not empty %}
		<div class='grid-selecao-importa'>
			<div class='card'>
				<div class='card-header'>
					<button class='btn'>
						<i class="ri-24-hours-line"></i>
						Importar da última Sessão
					</button>
				</div>
				<div class='card-body'></div>

			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Segunda</button>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Terça</button>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Quarta</button>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Quinta</button>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar da última Sexta</button>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar do último sábado</button>
				</div>
				<div class='card-body'></div>
			</div>
			<div class='card'>
				<div class="card-header flex flex-row nowrap">
					<button class='btn'>
						<i class="ri-24-hours-line"></i>Importar do último domingo</button>
				</div>
				<div class='card-body'></div>
			</div>
		</div>
	{% else %}
		<h2>Sessão não aberta</h2>
	{% endif %}
{% endblock %}
