<div class="card mb-3">
	<div class="card-body">
		<div class="pt-4 pb-2">
			<h5 class="card-title text-center pb-0 fs-4">Login com a sua conta da Twitch</h5>
			<p class="text-center small">Acesse usando a ferramenta de autenticação da twitch</p>
		</div>
		<div class="col-12 mt-2">
			<a href="/login/twitch" class="btn btn-twitch btn-primary w-100 d-flex align-items-center justify-content-center">
				<i class='bi bi-twitch p-3'></i/>Entrar</a>
		</div>
	</div>
</div>
