.grid-selecao-importa {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
}

.grid-selecao-importa>div {
    margin: 1px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.grid-selecao-importa div button i {
    padding-right: 3px;
}

.grid-selecao-importa div button {
    justify-content: center;
    align-items: center;
}

.grid-selecao-importa>div button {
    color: 012970;
}



/* @media(max-width:985px) {
    .grid-selecao-importa {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }

    .div-remove-import {
        width: 100%;
        margin: 0 !important;
        padding: 0px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        left: 0 !important;
    }

    .row {
        padding: 0px !important;
        margin: 0px !important;
    }
} */

@media(max-width:500px) {
    .grid-selecao-importa {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }

    .div-remove-import {
        margin: 0 !important;
        padding: 0px !important;
        padding-right: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        left: 0 !important;
    }

    .row {
        padding: 0px !important;
        margin: 0px !important;
    }
}