:root {
  --body-width: 1920px;
  --body-height: 1080px;
  --sidebar-left-width: 400px;
  --sidebar-right-width: 400px;
  --center-content-width: 1120px;
  --main-height: 960px;
  --header-height: 60px;
  --footer-height: 60px;
  --top-content-height: 1020px;
  --background-color-default: #1e1e1e;
  --box-cam1-height: 285px;
  --box-cam1-width: --sidebar-right-width;
  --border-color-default: orangered;
  --box-tela1-height: 650px;
}

.transparent-area {
  background-color: rgba(0, 0, 0, 0);
}

#main-frame {
  margin: 0 !important;
  padding-right: 5px !important;
  max-width: var(--body-width) !important;
  max-height: var(--body-height) !important;
  min-width: var(--body-width) !important;
  min-height: var(--body-height) !important;
  max-height: var(--body-height) !important;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;

  /* background-color: #4B3621;  */
  color: #ffffff;
  /* branco */
  font-family: Arial, Helvetica, sans-serif;
}

#left-content {
  min-width: var(--sidebar-left-width);
  max-width: var(--sidebar-left-width);
  background-color: var(--background-color-default) !important;
}

#center-content {
  max-width: var(--center-content-width);
  min-width: var(--center-content-width);
}

#right-content {
  max-width: var(--sidebar-right-width);
  min-width: var(--sidebar-right-width);
}

header {
  max-height: var(--header-height);
  min-height: var(--header-height);
  background-color: var(--background-color-default) !important;
}

main {
  max-height: var(--main-height);
  min-height: var(--main-height);
  height: var(--main-height);
}

footer {
  border: 1px solid #ccc;
  background-color: var(--background-color-default) !important;
  max-height: var(--footer-height);
  min-height: var(--footer-height);
}

#box-tela1 {
  border: 1px solid #ccc;
  width: var(--center-content-width) !important;
  height: var(--box-tela1-height) !important;
  max-height: var(--box-tela1-height) !important;
  min-height: var(--box-tela1-height) !important;
}

.box-cam-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--box-cam1-width) !important;
  height: var(--box-cam1-height) !important;
  max-width: var(--box-cam1-width) !important;
  max-height: var(--box-cam1-height) !important;
  min-width: var(--box-cam1-width) !important;
  min-height: var(--box-cam1-height) !important;
  border: 1px solid #ccc;
}

.box-cam-2 {
  margin: 1px;
  width: 250px !important;
  height: 120px !important;
  max-width: 250px !important;
  max-height: 120px !important;
  min-width: 250px !important;
  min-height: 120px !important;
}

#bottom-content {
  background-color: var(--background-color-default) !important;
  height: 600px;
}

.bg-default {
  background-color: var(--background-color-default) !important;
}

.text-light {
  color: white !important;
}

.navbar-brand {
  border: 1px solid #ccc;
  /* borda cinza claro */
  border-radius: 3px;
  /* borda arredondada */
  width: 420px;
  /* espaçamento entre os itens */
}

.nav-item {
  word-wrap: n;
  width: 360px;
  border: 1px solid #ccc;
  /* borda cinza claro */
  border-radius: 3px;
  /* borda arredondada */
  margin-right: 10px;
  /* espaçamento entre os itens */
}

.nav-item a {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.nav-link {
  display: inline-block;
  /* exibe os itens em linha */
  padding: 8px;
  /* espaçamento interno */
}

.info-value {
  width: 300px;
}

.year-summary {
  width: 400px;
  /* largura da seção */
  float: left;
  /* flutua a seção para a esquerda */
  margin-bottom: 20px;
  /* adicione um espaçamento inferior */
}

.year-summary .card {
  background-color: #444;
  /* cor de fundo escura */
  color: #fff;
  /* cor da fonte branca */
  border: 1px solid #ccc;
  /* borda cinza claro */
  border-radius: 3px;
  /* borda arredondada */
  margin-bottom: 10px;
  /* adicione um espaçamento entre os cards */
}

.year-summary .card-title {
  font-size: 18px;
  color: #0d6efd !important;
  /* tamanho da fonte do título */
}

.year-summary .card-text {
  font-size: 14px;
  /* tamanho da fonte do texto */
}

.tournament-list {
  border: 1px solid #ccc;
  width: 100%;
  /* faz a lista ocupar todo o espaço disponível */
  overflow: hidden;
  /* esconde os itens que excederem a largura da lista */
  position: relative;
  /* posiciona a lista de forma relativa */
}

.tournament-list .card {
  background-color: #444;
  /* cor de fundo escura */
  color: #fff;
  /* cor da fonte branca */
}

.tournament {
  width: 100%;
  /* faz cada item ocupar 100% da largura */
  text-align: center;
  /* centraliza o texto do item */
  font-size: 18px;
  /* define o tamanho da fonte do item */
  /* animation: tournament-slider 20s linear infinite; */
  /* adiciona uma animação para fazer a lista rolar automaticamente */
}

.tournament-list h2,
.tournament-list h3 {
  text-align: center;
  font-size: 1.1rem;
}

/* Sponsor */
#sponsor-slider {
  width: 1120px;
  height: 300px;
}

#sponsor-slider .carousel-item {
  transition: transform 1s ease-in-out;
}

#sponsor-slider.rotate .carousel-item.active {
  transform: rotate(360deg);
}

.overlayError {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0;
  top: 0;
  background-color: #d72020 !important;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}