@media(max-width:455px) {
    .mobile-hidden {
        display: none !important;
    }

    body,
    main {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}

@media(min-width:456px) {
    .summary-current-session {
        display: none !important;
    }
}