@media(max-width:455px) {
    .mobile-hidden {
        display: none !important;
    }

    body,
    main {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    .modal-form,
    .modal-form .modal-dialog,
    .modal-form .modal-content {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        height: 100% !important;
        width: 100% !important;
    }
}