.grid-container-cards-session {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-container-cards-session>div {
    padding: 5px;
}

.grid-container-cards-session .card {
    height: 100%;
}

.btn-group-session i {
    font-size: 1.3rem !important;
}

.btn-group-session a {
    padding-bottom: 0;
}

.btn-group-session {
    padding-right: 0px !important;
    margin-right: 0px !important;
}