<div class="card">
	<div class="card-body">
		<h5 class='card-title d-flex flex-column'>
			Lista de jogos
			<span class='d-flex justify-content-end'>
				Total:
				{{count(buyInList)}}
				| Em andamento:
				{{countAbertos}}
				| Para começar:{{countFuturo}}
			</span>
		</h5>
	</div>
	<div class="card-footer">
		<div class='d-flex justify-content-end pe-0'>
			<div class="btn-group d-flex btn-group-session align-items-center justify-content-end" role="group" aria-label="Botões ação Sessão">
				<a class="btn text-success" title="Adicionar jogo" href="/session/saveBuyIn">
					<i class='bi bi-plus-circle'></i>
				</a>
				<a class="btn text-success " title='Importar Grade' href="/session/importarGrade">
					<i class='bx bx-import'></i>
				</a>
				<a class="btn text-danger " title='Encerrar a sessão' href="/session/encerrar">
					<i class='bx bx-sleepy'></i>
				</a>
			</div>
		</div>
	</div>
</div>
