<div class="transparent-area d-flex flex-column h-100">
	<div id="box-tela1" class="d-flex transparent-area"></div>
	<div id="content-center-bottom" class="bg-default d-flex flex-1 h-100">
		{% include "Overlay/banner-sponsor.twig" %}
	</div>
</div>
