<div class="d-flex flex-column h-100">
	<div class="box-cam-1 transparent-area border rounded-3"></div>
	<div class="bg-default">
		<h3 class='text-center text-light'>
			Câmera 1
		</h3>
	</div>
	<div class="box-cam-1 transparent-area border rounded-3"></div>
	<div class="bg-default">
		<h3 class='text-center text-light'>
			Câmera 2
		</h3>
	</div>
	<div class="bg-default d-flex flex-1 h-100">
		<div class="tournament-list">
			<div class="tournament card">
				Torneio 1
			</div>
			<div class="tournament card">
				Torneio 2
			</div>
			<div class="tournament card">
				Torneio 3
			</div>
			<div class="tournament card">
				Torneio 4
			</div>
			<div class="tournament card">
				Torneio 5
			</div>
		</div>
	</div>
</div>
