<div class="d-flex flex-column h-100">
	<div id="box-cam1" class="transparent-area"></div>
	<div class="bg-default">
		<h3 class='text-center text-light'>
			Câmera 1
		</h3>
	</div>
	<div id="box-cam1" class="transparent-area"></div>
	<div class="bg-default">
		<h3 class='text-center text-light'>
			Câmera 2
		</h3>
	</div>
	<div class="bg-default d-flex flex-1 h-100">
		<h2 class='text-center'>
			Conteúdo direita bottom
		</h2>
	</div>
</div>
