{# <link rel="stylesheet" href="\assets\css\overlay-gpt.css"> #}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="\assets\css\overlay-gpt.css">
	</head>
	<body>
		<div id="game-screen"></div>
		<div id="webcam"></div>
		<div id="guest-webcam"></div>
		<div id="scoreboard">
			<div class="player-section">
				<img src="https://i.pixls.us/2022/02/19/nZW7J.jpg" class="player-avatar">
				<div class="player-name">
					Jogador 1
				</div>
				<div class="player-score">
					1000
				</div>
			</div>
			<div class="player-section">
				<img src="https://i.pixls.us/2022/02/19/nZW9f.jpg" class="player-avatar">
				<div class="player-name">
					Jogador 2
				</div>
				<div class="player-score">
					500
				</div>
			</div>
			<div class="player-section">
				<img src="https://i.pixls.us/2022/02/19/nZWbO.jpg" class="player-avatar">
				<div class="player-name">
					Jogador 3
				</div>
				<div class="player-score">
					250
				</div>
			</div>
		</div>
	</body>
</html>
