<div class="year-summary p-1">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
				Torneios jogados
			</h5>
			<p class="card-text">
				Número de torneios jogados no ano
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
				Lucro
			</h5>
			<p class="card-text">
				Lucro obtido no ano
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
				ABI
			</h5>
			<p class="card-text">
				ABI médio no ano
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">
				ROI
			</h5>
			<p class="card-text">
				ROI médio no ano
			</p>
		</div>
	</div>
</div>
