<div class="d-flex flex-column bg-dark text-light">
	<div class="card  bg-dark text-light">
		<div class="card-header">
			Informações de torneios no ano de
			{{year}}
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Torneios jogados:
				<span class="float-right">{{countBuyIns}}</span>
			</li>
			<li class="list-group-item">ABI:
				<span class="float-right">{{dolarFormat(abi)}}</span>
			</li>
			<li class="list-group-item">Lucro:
				<span class="float-right">{{dolarFormat(profit)}}</span>
			</li>
		</ul>
	</div>
</div>
