<div class="card">
	<div class="card-body">
		<h5 class="card-title">
			Torneios jogados
		</h5>
		<p class="card-text">
			<div class="year-played-games">{{countBuyIns}}</div>
		</p>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h5 class="card-title">
			Lucro
		</h5>
		<p class="card-text">
			{{profit}}
		</p>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h5 class="card-title">
			ABI
		</h5>
		<p class="card-text">
			{{abi}}
		</p>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h5 class="card-title">
			ROI
		</h5>
		<p class="card-text">
			{{roi}}
		</p>
	</div>
</div>
