{% extends 'templateBase.twig' %}
{% block css %}
	{{parent()}}
	<link rel="stylesheet" href="\assets\css\home.css">
{% endblock %}


{% block scriptsFooter %}
	{{parent()}}
	<script>
		$(document).ready(function () {
$("#copy-button").click(function () {
var tempInput = document.createElement("input");
var link = '{{ base_url("streamer/showOverlay/" ~ session("tokenAcesso")) }}';
tempInput.value = link;
document.body.appendChild(tempInput);
tempInput.select();
document.execCommand("copy");
document.body.removeChild(tempInput);
alert("Link copiado com sucesso! Cole no seu Obs como fonte de navegador");
});
});
	</script>
{% endblock %}

{% block content %}
	<div class="d-flex h-100 w-100 justify-content-center align-items-center">
		{% if session('isValidTokenAcesso') %}
			<button class="btn btn-primary" id="copy-button">Copiar link da overlay</button>
		{% else %}
			<h2 class="text-cente text-danger">Você precisa estar autenticado para usar a overlay.</h2>
		{% endif %}
	</div>
{% endblock %}
