<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="/favicon.ico" />
<!-- Vendor CSS Files -->
<link href="/assets/templates/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/templates/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/assets/templates/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/assets/templates/NiceAdmin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/assets/templates/NiceAdmin/assets/css/style.css" rel="stylesheet">
<link href="/assets/templates/NiceAdmin/assets/css/custom-style.css" rel="stylesheet">