{% if breadcrumbTitle is not empty %}
    <div class="pagetitle">
        <h1>{{breadcrumbTitle.textTop}}</h1>
        {% if count(breadcrumbTitle.items) > 0 %}
            <nav>
                <ol class="breadcrumb">
                    {% for item in breadcrumbTitle.items %}
                        <li class="breadcrumb-item">{% if is_array(item) %}<a href="{{item[1]}}">{{item[0]}}</a>{% else %}{{item}} {% endif %}</li>
                    {% endfor %}
                </ol>
            </nav>
        {% endif %}
    </div><!-- End Page Title -->
{% endif %}